<%-include("partials/header");-%>
<div>
    
        <div>
            <h3>
                <%=dataArray.title %>
                
            </h3>
        </div>
        <div>
            <p>
                <%=dataArray.post %>
            </p>
        </div>

       
    </div>


<%-include("partials/footer");-%>